<!doctype html>
<html>
<head>
  <title>tree-care</title>
  <link rel = "icon" type = "image/png" href = "{{ url_for('static', filename='logo.png') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="validation_content">
    <div id="validation_img"></div>
    <h2>Votre demande a bien été prise en compte.</h2>
    Un e-mail de confirmation vous a été envoyé à l'adresse {{data.email}}.
    Nous reviendrons vers vous très prochainement pour validation.
  </div>

</body>
</html>
